@page
@using Microsoft.AspNetCore.Identity;
@using AutomatedEducationProgram.Areas.Data
@inject SignInManager<AEPUser> SignInManager
@inject UserManager<AEPUser> UserManager
@model IEnumerable<AutomatedEducationProgram.Models.Note>

@{
    AEPUser currentUser = await UserManager.GetUserAsync(User);
    string currentUserID = currentUser.Id;
}

<html>
    <head>
        <title>My Notes</title>
    </head>
    <body>
        <h2>(@currentUser.UserID)'s Notes</h2>
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.Description</td>
                    </tr>
                }
        </tbody>
        </table>
    </body>
</html>
