@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1>You are not authorized to complete this request</h1>
<p>Log in to an authoroized account and try again</p>
<br />
<a asp-area="" asp-page="/Index">Return home</a>

