@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        color: #333;
    }

    .main-container {
        width: 100%;
        padding-bottom: 200px;
    }

    .text-container {
        margin-top: 50px;
        text-align: left;
        padding-bottom: 90px;
        width: 100%;
        
    }

    .text-title {
        font-size: 40px;
        font-weight: bold; 
    }

    .text-description {
        font-size: 25px;
    }

    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0);
        transition: transform 0.3s ease;
        margin: 10px;
        width: 500px;
        align-items: center;
    }

        .card:hover {
            transform: translateY(-5px);
        }

        .card img {
            width: 100px;
            margin-top: 40px;
        }


    .card-title {
        margin-top: 20px;
        font-size: 22px;
        font-family:Arial;
    }

    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        text-decoration: none;
        color: #333;
    }

    h1 {
        font-size: 36px;
        text-align: center;
        margin-bottom: 30px;
    }
</style>

<div class="main-container">
    <main role="main">
        <div class="text-container">
            <div class="mt-5 mb-4 text-title">Welcome to<br/>Automated Education Program</div>
            <div class="text-description">Create, share, and manage your personalized note to study and more! Study with<br />AEP that matches your needs to study for your hand exam!</div>
        </div>

        <div class="card-container">
            <div class="d-flex justify-content-around">
                <a href="/Vocabulary/VocabularyList" class="card text-center centered-content">
                    <img src="~/images/icon_buildvocabularylist.png" alt="Vocabulary Image" class="img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">Generate Vocabulary</h5>
                    </div>
                </a>

                <a href="Exam/ExamList" class="card text-center centered-content">
                    <img src="~/images/icon_createpracticetest.png" alt="Exam Image" class="img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">Generate Exam</h5>
                    </div>
                </a>

                <a href="~/SearchNote/SearchNote" class="card text-center centered-content">
                    <img src="~/images/search_notes_image.png" alt="Vocabulary Image" width="50" class="img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">Search Notes</h5>
                    </div>
                </a>

                <a asp-controller="MyNotes" asp-action="MyNotes" class="card text-center centered-content">
                    <img src="~/images/icon_seemynotes.png" alt="My Notes Image" class="img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">My Notes</h5>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
