@page
@model IndexModel
@{
    if (ViewData != null)
    {
        ViewData["Title"] = "Home page";
    }
}

<style>
    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container">
    <main role="main" class="pb-3 d-flex flex-column align-items-center">
        <h1 class="mt-5 mb-4">Welcome to Automated Education Program</h1>

        

        <div class="card-container p-4">
            <div class="d-flex justify-content-around">
                <a href="/Vocabulary/VocabularyList" class="card text-center centered-content">
                    <img src="~/images/vocabulary_generate_image.png" alt="Vocabulary Image" width="50" class="img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">Generate <br />Vocabulary</h5>
                    </div>
                </a>

                <a href="/GenerateExam" class="card text-center centered-content">
                    <img src="~/images/Generate_Exam_image.png" alt="Vocabulary Image" width="50" class="img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">Generate <br />Exam</h5>
                    </div>
                </a>

                <a href="/SearchNotes" class="card text-center centered-content">
                    <img src="~/images/search_notes_image.png" alt="Vocabulary Image" width="50" class="img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">Search <br />Notes</h5>
                    </div>
                </a>

                <a asp-controller="MyNotes" asp-action="MyNotes" class="card text-center centered-content">
                    <img src="~/images/myNotes_image.png" alt="Vocabulary Image" width="50" class="img-responsive" />
                    <div class="card-body">
                        <h5 class="card-title">My Notes</h5>
                    </div>
                </a>

                
            </div>
        </div>
    </main>
</div>
