@model Tuple<AutomatedEducationProgram.Models.Note, IEnumerable<AutomatedEducationProgram.Models.VocabularyWord>, IEnumerable<AutomatedEducationProgram.Models.ExamQuestion>>
@{
    AutomatedEducationProgram.Models.Note note = Model.Item1;
    IEnumerable<AutomatedEducationProgram.Models.VocabularyWord> vocab = Model.Item2;
    IEnumerable<AutomatedEducationProgram.Models.ExamQuestion> questions = Model.Item3;
    int i = 1;
    int j = 1;
}

<html>
<head>
    <title>Delete Note</title>
</head>
<body>
    <form method="post" asp-controller="MyNotes" asp-action="DeleteNote">
        <h1>Are you sure you would like to delete the note: @note.Title?</h1>
        <input hidden name="noteId" value="@note.Id" />
        <input hidden name="userId" value="@note.UserId" />
        <input type="submit" value="Delete Note" class="btn btn-danger" />
    </form>
</body>
</html>
