@page
@using Microsoft.AspNetCore.Identity;
@using AutomatedEducationProgram.Areas.Data
@using AutomatedEducationProgram.Pages.MyNotes
@inject SignInManager<AEPUser> SignInManager
@inject UserManager<AEPUser> UserManager
@model MyNotesModel

@{
    AEPUser currentUser = await UserManager.GetUserAsync(User);
    string currentUserID = currentUser.Id;
    IEnumerable<AutomatedEducationProgram.Models.Note> NoteList = Model.UserNotes;
}

<html>
    <head>
        <title>My Notes</title>
    </head>
    <body>
        <h1>@currentUser.UserID's Notes</h1>
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Description</td>
                    <td>Last Edit</td>
                    <td>.</td>
                    <td>.</td>
                    <td>.</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in NoteList)
                {
                    <tr>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                    <td>@item.CreatedDate</td>
                    <td><a href="StudyNote/?noteId=@item.Id">Study</a></td>
                    <td><a href="EditNote/?noteId=@item.Id">Edit</a></td>
                    <td><a href="DeleteNote/?noteId=@item.Id">Delete</a></td>
                    </tr>
                }
        </tbody>
        </table>
    </body>
</html>
