@page
@using AutomatedEducationProgram.Areas.Data
@using AutomatedEducationProgram.Models;
@model AutomatedEducationProgram.Pages.MyNotes.StudyNoteModel

<style>
    .vocabulary-table {
        width: 100%;
        table-layout: fixed;
    }

    .term-cell {
        white-space: nowrap;
        vertical-align: middle;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
    }

    .definition-cell {
        vertical-align: middle;
        word-break: break-word;
    }

    span.bold-term {
        font-weight: bold;
        display: inline;
        margin: 0;
        padding: 0;
        white-space: nowrap;
    }

    .centered-title {
        text-align: center;
    }

    .centered-content {
        text-align: center;
    }

    .card {
        margin: 1rem;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        border-radius: 15px;
        background-color: #fff;
        padding: 1rem;
        &__content

    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        text-align: center;
        flex-grow: 0;
    }

    &__header {
        vertical-align: middle;
        word-break: break-word;
        text-align: center;
    }

    &__text {
        margin-bottom: auto;
        margin-bottom: 2rem;
    }

</style>

<!-- Container for the two sections -->
<div style="display: flex; justify-content: space-between;">

        <!-- Left Container for Vocabularies and Definitions -->
        <div style="flex: 1; padding-right: 10px;">
            <h3 class="centered-title">Vocabulary List</h3>
            <div class="grid">
                @foreach (var vocab in Model.Vocabulary)
                {
                    <div class="card">
                        <div class="card__content" contenteditable="true">
                            <h2 class="card__header">"@vocab.Term"</h2>
                            <p class="card__text">Definition: @vocab.Definition</p>
                        </div>
                    </div>
                }
            </div>
        </div>

    <!-- Right Container for Passage -->
    <div style="flex: 1; padding-right: 10px;">
        <h3 class="centered-title">Practice Questions</h3>
        <div class="grid">
            @foreach (var q in Model.Questions)
            {
                <div class="card">
                    <div class="card__content" contenteditable="true">
                        <h2 class="card__header">"@q.Question"</h2>
                        <p class="card__text">Definition: @q.Answer</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>